:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;
  background-color: #030615;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  display: relative;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  width: 100%;
}

.bgImage {
  width: 100%;
  height: 100%;
  flex: 1;
  object-fit: cover;
}

footer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

footer div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: auto;
}

footer h2 {
  font-size: 1.8rem;
}

footer h1 {
  font-size: 1.5rem;
  font-weight: 200;
  margin: auto;
  /* text-align: center; */
}

footer button {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 1rem;
  transition-duration: 200ms;
  cursor: pointer;
}

footer button:hover {
  opacity: 0.4;
  animation: rotate 1s ease;
}

@keyframes rotate {
  0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
  }

  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

footer button i {
  font-size: 1.5rem;
}


.bgGradient {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(to top, #030615, rgba(255, 255, 255, 0));
}

.sidebar {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.bgOverlay {
  position: absolute;
  inset: 0;
  background: #030615;
  opacity: 0.6;
}

.sidebarContents {
  z-index: 15;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  overflow-y: scroll;
  height: 100%;
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  background: #030615;

}

.sidebarContents div {
  flex: 1;
}

.sidebarContents button {
  background: transparent;
  color: white;
  border: none;
  outline: none;
  margin-right: auto;
  cursor: pointer;
  transition-duration: 200ms;
  padding: 1rem 0;
  font-size: 2rem;
}


.sidebarContents h2 {
  font-weight: 200;
  font-size: 1.4rem;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.descriptionTitle {
  font-size: 1.1rem;
  font-weight: 200;
}

.sidebarContents button:hover {
  opacity: 0.4;
}

@media (min-width: 640px) {
  .sidebar {
    position: relative;
    inset: unset;
    min-width: 30%;
    max-height: 100vh;
    box-shadow: 0 0 40px 1px #030615;
  }

  .sidebarContents {
    margin: unset;
    width: 100%;
  }

  .bgOverlay {
    right: 0;
    left: unset;
    width: 100vw;
  }

  .loadingState {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  .loadingState i {
    font-size: 3rem;
    opacity: 0.2;
    animation: spin 3s linear infinite;
  }


  .arrow-button {
    display: flex;
    color: #C2FFE9;
    background-color: #00E692;
    padding: 10px 16px;
    border-radius: 20px;
    transition: all .3s ease;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    font-size: 30px;

    background: transparent;
    color: white;
    border: none;
    outline: none;
    margin-right: auto;
    cursor: pointer;
    transition-duration: 200ms;
    padding: 3rem 0;
    font-size: 2rem;
}

.arrow-button > .arrow {
    width: 20px;
    height: 20px;
    border-right: 2px solid ;
    border-bottom: 2px solid ;
    position: relative;
    transform: rotate(-45deg);
    margin: 0 6px;
    transition: all .3s ease;
}

.arrow-button > .arrow::before {
    display: block;
    background-color: currentColor;
    width: 3px;
    transform-origin: bottom right;
    height: 2px;
    position: absolute;
    opacity: 0;
    bottom: calc(-2px / 2);
    transform: rotate(45deg);
    transition: all .3s ease;
    content: "";
    right: 0;
}

.arrow-button:hover > .arrow {
    transform: rotate(-45deg) translate(4px, 4px);
    border-color: text-hover-color;
}

.arrow-button:hover > .arrow::before {
    opacity: 1;
    width: 25px;
}

.arrow-button:hover {
    /* background-color: #017A4F; */
    color: #fff;
}

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}